@import 'common/_normalize.scss';
@import 'common/_base.scss';

.profile-card-wrapper {
    border: 1px solid #e4e4e4;
    border-radius: $base-border-radius;
    max-width: 985px;
    margin: 10px auto;
    padding: 30px 15px;
    box-shadow: -1px 11px 21px #e4e4e4;
    @include transition(300ms);
    margin-bottom: 20px;
    &:last-child {
        margin-bottom: 0px;
    }
    cursor: pointer;
    &:hover {
        background-color: #f1f1f1;
    }
    @media (max-width: $mobile-max-width+px) {
       max-width: 440px;
    }
    &--image-wrapper {
        justify-content: space-around;
        -webkit-justify-content: space-around;
        .profile-image {
            position: relative;
            .add-to-favorites {
                position: absolute;
                bottom: 5%;
                right: 1%;
                label {
                    background-color: #ffffff;
                    width: 28px;
                    height: 28px;
                    border: 2px solid #dadada;
                    border-radius: 50%;
                    cursor: pointer;
                    i {
                        margin: auto;
                    }
                }
                .hidden-favorites {
                    display: none;
                    &:checked {
                        &~ label {
                            background-color: red;
                            border-color: red;
                            color:#ffffff;
                        }
                    }
                }
            }
        }
        .image {
            max-width: 144px;
            min-width: 144px;
            height: 144px;
            width: 100%;
            background-image: url('/images/getProfileImage.jpeg');
            background-size: contain;
            border-radius: 50%;
            overflow: hidden;
            @media (max-width: $mobile-max-width+px) {
                max-width: 130px;
                min-width: 130px;
                height: 130px;
            }
        }
        .profile-details {
            max-width: 285px;
            min-width: 285px;
            width: 100%;
            font-size: (15/$base-font-size)+rem;
            h3 {
                @extend .flex-justify-space-between;
                color: $profile-green-color;
                .profile-varification-status {
                    &.not-verified {
                        filter: grayscale(1);
                    }
                }
            }
            h4 {
                padding: 15px 0;
                font-size: 1rem;
            }
            a {
                color: $profile-green-color;
            }
            p {
                color: #a1a1a1;
                &.show-more {
                    height: 0;
                    opacity: 0;
                    overflow: hidden;
                    transition: height 350ms ease-in-out, opacity 750ms ease-in-out;
                    &.visible {
                        height: auto;
  	                    opacity: 1;
                    }
                }
            }
            @media (min-width: $tablet-min-width+px) and (max-width: $tablet-max-width+px) {
                padding-left: 10px;
                max-width: 270px;
                min-width: 270px;
            }
            @media (max-width: $mobile-max-width+px) {
                max-width: 260px;
                min-width: 260px;
            }
        }
        @media (max-width: $extra-small-mobile-devices+px) {
           flex-direction: column;
           -webkit-flex-direction: column;
         }
    }
    &--review-ratings-wrapper {
        display: table;
        margin: 0 auto;
        @media (max-width: $mobile-max-width+px) {
            display: flex;
            display: -webkit-flex;
            justify-content: flex-end;
            -webkit-justify-content: flex-end;
            margin: initial;
        }
        @media (max-width: $extra-small-mobile-devices+px) {
            justify-content: space-between;
            -webkit-justify-content: space-between;
            width: 100%;
            text-align: center;
        }
        li {
            color: $card-violet-color;
        }
        h3 {
            i {
                color: $card-violet-color;
            }
        }
        h5 {
            font-weight: $light-font-weight;
            color: #a1a1a1;
        }
        .reviews {
            li {
                @extend .display-inline-block;
                float: left;
            }
        }
        &> div {
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
            @media (max-width: $mobile-max-width+px) {
                margin: 10px 5px;
            }
        }
    }
    &--cta-wrapper {
        @media (max-width: $mobile-max-width+px) {
            display: flex;
            display: -webkit-flex;
            justify-content: space-between;
            -webkit-justify-content: space-between;
        }
        @media (max-width: $extra-small-mobile-devices+px) {
            display: block;
        }
        .free-credits-info {
            margin-bottom: 15px;
            @media (max-width: $mobile-max-width+px) {
                margin-bottom: 0px;
            }
            @media (max-width: $extra-small-mobile-devices+px) {
                margin-bottom: 10px;
                text-align: center;
            }
            h4 {
                color: $card-violet-color;
                @media (max-width: $mobile-max-width+px) {
                    background-color: $card-violet-color;
                    font-weight: $normal-font-weight;
                    color: #ffffff;
                    position: relative;
                    padding: 3px 5px;
                    margin-bottom: 5px;
                    display: inline-block;
                    &:after {
                        content: '';
                        width: 0;
                        height: 0;
                        border-top: 10px solid $card-violet-color;
                        border-right: 10px solid transparent;
                        position: absolute;
                        top: 0;
                        right: 0;
                        transform: translateX(100%);
                        -webkit-transform: translateX(100%);
                    }
                    &:before {
                        content: '';
                        width: 0;
                        height: 0;
                        border-bottom: 10px solid $card-violet-color;
                        border-right: 10px solid transparent;
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        transform: translateX(100%);
                        -webkit-transform: translateX(100%);
                    }
                }
            }
        }
        .profile-button {
            background-color: $profile-green-color;
            color: #ffffff;
            padding: 10px 15px;
            @extend .text-center;
            border-radius: $base-border-radius;
            position: relative;
            overflow: hidden;
            h5 {
                font-weight: $medium-font-weight;
                position: relative;
                z-index: 1;
                font-size: 1rem;
                @media (min-width: $tablet-min-width+px) and (max-width: $tablet-max-width+px) {
                    display: flex;
                    display: -webkit-flex;
                    align-items: center;
                    -webkit-align-items:center;
                    justify-content: center;
                    -webkit-justify-content: center;
                    span {
                        display: inline-block;
                        max-width: 35px;
                        margin-left: 5px;
                    }
                }
            }
            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                background-color: $card-violet-color;
                @include transform(translateX(-100%));
                @include transition(300ms);
            }
            &:hover {
                &:before {
                    @include transform(translateX(0));
                }
            }
            i {
                @extend .display-inline-block;
                margin-right: 5px;
            }
            &.margin-bottom-5px{
                margin-bottom: 5px;
                @media (max-width: $mobile-max-width+px) {
                    margin-bottom: 0px;
                }
            }
            @media (max-width: $mobile-max-width+px) {
                display: flex;
                display: -webkit-flex;
                h5 {
                    margin: auto;
                }
            }
            @media (min-width: $large-device-min-width+px) {
                max-width: 160px;
                min-width: 160px;
            }
            @media (max-width: $extra-small-mobile-devices+px) {
                max-width: 46%;
                display: inline-block;
                width: 100%;
                float: left;
                margin: 0 5px;
            }
        }
    }
}